<div class="mt-5">
    <a target="_blank" 
        href="/generate-invoice?userId=<%= userId %>&year=<%= year %>&month=<%= month %>&hourlyRate=<%= hourlyRate %>&invoiceNo=<%= invoiceNo %>&generatePdf=1" 
        class="ml-4 mt-10 bg-blue-500 px-4 py-2 rounded-lg font-semibold text-sm text-white">
        Generate PDF Invoice
    </a>
    <%- renderedHtml %>
</div>