<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timesheet Cronjob + Invoice Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <style>
      .select2-container--default .select2-selection--multiple {
        height: 36px;
        max-height: 36px;
        border: 0;
        border-radius: 0.375rem;
        box-shadow: inset 0 0 0 1px rgb(209 213 219);
        padding: 5px 32px 5px 12px;
      }

      .select2-container--default.select2-container--focus
        .select2-selection--multiple {
        box-shadow: inset 0 0 0 2px rgb(79 70 229);
      }

      .select2-container--default
        .select2-selection--multiple
        .select2-selection__choice {
        background-color: rgb(238 242 255);
        border-color: rgb(199 210 254);
        border-radius: 0.25rem;
        color: rgb(31 41 55);
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 0 4px 0 0;
        padding: 1px 8px 1px 24px;
        position: relative;
      }

      .select2-container--default
        .select2-selection--multiple
        .select2-selection__choice__remove {
        align-items: center;
        border-right: 1px solid rgb(199 210 254);
        color: rgb(107 114 128);
        display: flex;
        height: 100%;
        left: 0;
        padding: 0 7px;
        position: absolute;
        top: 0;
      }

      .select2-container--default
        .select2-selection--multiple
        .select2-selection__choice__remove:hover {
        background-color: rgb(224 231 255);
        color: rgb(31 41 55);
      }

      .select2-container--default
        .select2-selection--multiple
        .select2-selection__clear {
        align-items: center;
        color: rgb(17 24 39);
        display: flex;
        font-size: 1.25rem;
        height: 100%;
        margin: 0;
        padding: 0 12px;
        position: absolute;
        right: 0;
        top: -4px;
      }

      .select2-container--default
        .select2-selection--multiple
        .select2-search--inline
        .select2-search__field {
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        color: rgb(17 24 39);
        font-size: 1rem;
        line-height: 1.5rem;
      }

      .select2-container--default
        .select2-selection--multiple
        .select2-search--inline
        .select2-search__field::placeholder {
        color: rgb(156 163 175);
        opacity: 1;
      }

      .select2-container--default .select2-results__option {
        font-size: 1rem;
      }

      select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: white;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
        background-position: right 0.75rem center;
        background-repeat: no-repeat;
        background-size: 1.25rem;
        height: 36px;
        max-height: 36px;
        padding-right: 2.25rem;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".projectMultiSelect").select2({
          placeholder: "Select projects",
          allowClear: true,
          width: "100%"
        });

        $("form#syncDataForm").on("submit", function (e) {
          e.preventDefault();
          let syncDays = $(this).find('input[name="syncDays"]').val();
          if (!syncDays || syncDays == 0) {
            var formFields = $(this)
              .find('input[name!="syncDays"]')
              .serialize();
          } else {
            var formFields = $(this).serialize();
          }
          window
            .open($(this).attr("action") + "?" + formFields, "_blank")
            .focus();
        });

        const autoInvoiceForm = $("form#autoInvoiceForm");
        const updateAutoInvoiceNo = () => {
          const month = parseInt(autoInvoiceForm.find('[name="month"]').val(), 10);
          const year = parseInt(autoInvoiceForm.find('[name="year"]').val(), 10);
          const baseInvoiceNo = parseInt(
            autoInvoiceForm.find('[name="baseInvoiceNo"]').val(),
            10
          );
          const baseInvoiceMonth = parseInt(
            autoInvoiceForm.find('[name="baseInvoiceMonth"]').val(),
            10
          );
          const baseInvoiceYear = parseInt(
            autoInvoiceForm.find('[name="baseInvoiceYear"]').val(),
            10
          );

          if (
            [month, year, baseInvoiceNo, baseInvoiceMonth, baseInvoiceYear].every(
              Number.isFinite
            )
          ) {
            const invoiceNo =
              baseInvoiceNo +
              (year - baseInvoiceYear) * 12 +
              (month - baseInvoiceMonth);
            autoInvoiceForm.find(".autoInvoiceNo").val(invoiceNo);
          }
        };

        autoInvoiceForm
          .find('[name="month"], [name="year"], [name="baseInvoiceNo"], [name="baseInvoiceMonth"], [name="baseInvoiceYear"]')
          .on("input change", updateAutoInvoiceNo);
        updateAutoInvoiceNo();
      });

      // Add custom item
      $(document).on("click", ".addCustomItem", function (e) {
        e.preventDefault();
        $(".customItemContainer").append(
          `<div class="customItem grid grid-cols-12 gap-2">
                    <div class="col-span-11 grid grid-cols-2 gap-2">
                        <div class="mt-1 space-y-2">
                            <label class="block text-sm font-medium leading-6 text-gray-900">Custom Item</label>
                            <input type="text" name="customItem" class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <div class="mt-1 space-y-2">
                            <label class="block text-sm font-medium leading-6 text-gray-900">Custom Value</label>
                            <input type="text" name="customValue" class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div class="flex items-end">
                        <button type="button" class="removeCustomItem w-full bg-white rounded-md p-[5px] inline-flex items-center justify-center text-gray-400 border-2 border-gray-300 hover:text-gray-500 hover:border-2 hover:border-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>`
        );
      });

      // Add custom item
      $(document).on("click", ".overrideProjectHourlyRateBtn", function (e) {
        e.preventDefault();

        // Convert the EJS projects into JSON string
        var projects = JSON.parse(
          "<%= JSON.stringify(projects) %>".replace(/&#34;/g, '"')
        );

        // Now map the options in there so that we can use them into our own select tag
        const selectOptions = projects
          .map(
            (project) =>
              `<option value="${project.rbProjectId}">${project.name}</option>`
          )
          .join("");

        const selectElement = `
            <div class="overrideProjectHourlyRate grid grid-cols-12 gap-2">
                <div class="col-span-11 grid grid-cols-2 gap-2">
                    <div class="mt-1 space-y-2">
                        <label class="block text-sm font-medium leading-6 text-gray-900">Project</label>
                        <select name="overrideProject" class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            ${selectOptions}
                        </select>
                    </div>
                    <div class="mt-1 space-y-2">
                        <label class="block text-sm font-medium leading-6 text-gray-900">Project Hourly Rate</label>
                        <input type="text" name="overrideProjectRate" class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="flex items-end">
                    <button type="button" class="removeOverrideProjectHourlyRate w-full bg-white rounded-md p-[5px] inline-flex items-center justify-center text-gray-400 border-2 border-gray-300 hover:text-gray-500 hover:border-2 hover:border-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>`;

        $(".overrideProjectHourlyRateContainer").append(selectElement);
      });

      // Remove custom item
      $(document).on(
        "click",
        ".removeCustomItem, .removeOverrideProjectHourlyRate",
        function (e) {
          $(this).parents(".customItem").remove();
          $(this).parents(".overrideProjectHourlyRate").remove();
        }
      );
    </script>
  </head>
  <body class="bg-gray-300">
    <div class="container max-w-3xl mx-auto mt-5">
      <div class="text-3xl font-semibold text-center mb-5">
        Timesheet Cronjob + Invoice Generator
      </div>
      <div
        class="p-5 border-2 rounded-lg border-[1px] border-gray-400 shadow-sm bg-white"
      >
        <div class="mt-1 mb-2">
          <div class="text-center text-2xl font-medium mb-2">
            Sync Redbooth Data
          </div>
          <div
            class="flex items-center gap-x-4 text-center max-w-md mx-auto mt-5"
          >
            <a
              target="_blank"
              target="_blank"
              href="/sync-data"
              class="w-full p-2 rounded-md text-white bg-blue-500 hover:bg-blue-800"
            >
              Sync All Redbooth Data
            </a>
            <a
              target="_blank"
              target="_blank"
              href="/sync-logs"
              class="w-full p-2 rounded-md text-white bg-blue-500 hover:bg-blue-800"
            >
              Sync Logs
            </a>
	          </div>
	          <% if (autoInvoiceEnabled) { %>
	          <form
	            id="autoInvoiceForm"
	            target="_blank"
	            class="mb-5 mt-5 border-t border-b border-gray-200 py-4"
	            action="/auto-sync-invoice"
	          >
	            <div class="text-center text-2xl font-medium mb-2">
	              Auto Sync + Review Invoice
	            </div>
	            <div class="grid grid-cols-3 gap-2">
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Project</label
	                >
	                <select
	                  name="projectId"
	                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	                >
	                  <% const selectedAutoProject = projects.find((project) => project.name == autoInvoiceSettings.projectName); %>
	                  <% if (!selectedAutoProject) { %>
	                  <option value="" selected><%= autoInvoiceSettings.projectName %></option>
	                  <% } %>
	                  <% for (const project of projects) { %>
	                  <option
	                    value="<%= project._id %>"
	                    <%= project.name == autoInvoiceSettings.projectName ? "selected" : "" %>
	                  >
	                    <%= project.name %>
	                  </option>
	                  <% } %>
	                </select>
	                <input
	                  type="hidden"
	                  name="projectName"
	                  value="<%= autoInvoiceSettings.projectName %>"
	                />
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >User</label
	                >
	                <select
	                  name="userId"
	                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	                >
	                  <% const selectedAutoUser = users.find((user) => user.name == autoInvoiceSettings.userName); %>
	                  <% if (!selectedAutoUser) { %>
	                  <option value="" selected><%= autoInvoiceSettings.userName %></option>
	                  <% } %>
	                  <% for (const user of users) { %>
	                  <option
	                    value="<%= user.rbUserId %>"
	                    <%= user.name == autoInvoiceSettings.userName ? "selected" : "" %>
	                  >
	                    <%= user.name %>
	                  </option>
	                  <% } %>
	                </select>
	                <input
	                  type="hidden"
	                  name="userName"
	                  value="<%= autoInvoiceSettings.userName %>"
	                />
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Hourly Rate</label
	                >
	                <input
	                  type="number"
	                  name="hourlyRate"
	                  step="any"
	                  min="0"
	                  value="<%= autoInvoiceSettings.hourlyRate %>"
	                  class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	                />
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Invoice Month</label
	                >
	                <select
	                  name="month"
	                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	                >
	                  <option value="1" <%= autoInvoiceSettings.month == 1 ? "selected" : "" %>>January</option>
	                  <option value="2" <%= autoInvoiceSettings.month == 2 ? "selected" : "" %>>February</option>
	                  <option value="3" <%= autoInvoiceSettings.month == 3 ? "selected" : "" %>>March</option>
	                  <option value="4" <%= autoInvoiceSettings.month == 4 ? "selected" : "" %>>April</option>
	                  <option value="5" <%= autoInvoiceSettings.month == 5 ? "selected" : "" %>>May</option>
	                  <option value="6" <%= autoInvoiceSettings.month == 6 ? "selected" : "" %>>June</option>
	                  <option value="7" <%= autoInvoiceSettings.month == 7 ? "selected" : "" %>>July</option>
	                  <option value="8" <%= autoInvoiceSettings.month == 8 ? "selected" : "" %>>August</option>
	                  <option value="9" <%= autoInvoiceSettings.month == 9 ? "selected" : "" %>>September</option>
	                  <option value="10" <%= autoInvoiceSettings.month == 10 ? "selected" : "" %>>October</option>
	                  <option value="11" <%= autoInvoiceSettings.month == 11 ? "selected" : "" %>>November</option>
	                  <option value="12" <%= autoInvoiceSettings.month == 12 ? "selected" : "" %>>December</option>
	                </select>
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Invoice Year</label
	                >
	                <input
	                  type="number"
	                  name="year"
	                  min="2000"
	                  value="<%= autoInvoiceSettings.year %>"
	                  class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	                />
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Current Invoice No</label
	                >
	                <input
	                  type="number"
	                  min="0"
	                  value="<%= autoInvoiceSettings.invoiceNo %>"
	                  readonly
	                  class="autoInvoiceNo p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 bg-gray-100 shadow-sm ring-1 ring-inset ring-gray-300 sm:text-sm sm:leading-6"
	                />
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Base Invoice No</label
	                >
	                <input
	                  type="number"
	                  name="baseInvoiceNo"
	                  min="0"
	                  value="<%= autoInvoiceSettings.baseInvoiceNo %>"
	                  class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	                />
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Base Invoice Month</label
	                >
	                <input
	                  type="number"
	                  name="baseInvoiceMonth"
	                  min="1"
	                  max="12"
	                  value="<%= autoInvoiceSettings.baseInvoiceMonth %>"
	                  class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	                />
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Base Invoice Year</label
	                >
	                <input
	                  type="number"
	                  name="baseInvoiceYear"
	                  min="2000"
	                  value="<%= autoInvoiceSettings.baseInvoiceYear %>"
	                  class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	                />
	              </div>
	            </div>
	            <div class="relative flex gap-x-3 mt-3">
	              <div class="flex h-6 items-center">
	                <input
	                  name="syncTasks"
	                  type="checkbox"
	                  value="1"
	                  <%= autoInvoiceSettings.syncTasks ? "checked" : "" %>
	                  class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
	                />
	              </div>
	              <div class="text-sm leading-6">
	                <label class="font-medium text-gray-900">Sync Tasks First</label>
	              </div>
	            </div>
	            <button
	              type="submit"
	              class="p-2 mt-3 px-10 text-sm rounded-md text-white bg-green-600 hover:bg-green-800"
	            >
	              Auto Sync + Review Invoice
	            </button>
	          </form>
	          <% } %>
	          <form id="syncDataForm" class="mb-5" action="/sync-data">
	            <div class="mt-4">
	              Check the Radio boxes next to each type of data that you don't
	              want to Sync
	            </div>
	            <div class="grid grid-cols-2 gap-2">
	              <div class="mt-1 space-y-2">
	                <div class="relative flex gap-x-3">
	                  <div class="flex h-6 items-center">
	                    <input
	                      name="projects"
	                      checked
	                      type="checkbox"
	                      value="0"
	                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
	                    />
	                  </div>
	                  <div class="text-sm leading-6">
	                    <label class="font-medium text-gray-900">Projects</label>
	                  </div>
	                </div>
	                <div class="relative flex gap-x-3">
	                  <div class="flex h-6 items-center">
	                    <input
	                      name="tasks"
	                      type="checkbox"
	                      value="0"
	                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
	                    />
	                  </div>
	                  <div class="text-sm leading-6">
	                    <label class="font-medium text-gray-900">Tasks</label>
	                  </div>
	                </div>
	              </div>
	              <div class="mt-1 space-y-2">
	                <div class="relative flex gap-x-3">
	                  <div class="flex h-6 items-center">
	                    <input
	                      name="users"
	                      checked
	                      type="checkbox"
	                      value="0"
	                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
	                    />
	                  </div>
	                  <div class="text-sm leading-6">
	                    <label class="font-medium text-gray-900">Users</label>
	                  </div>
	                </div>
	                <div class="relative flex gap-x-3">
	                  <div class="flex h-6 items-center">
	                    <input
	                      name="loggings"
	                      type="checkbox"
	                      value="0"
	                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
	                    />
	                  </div>
	                  <div class="text-sm leading-6">
	                    <label class="font-medium text-gray-900">Loggings</label>
	                  </div>
	                </div>
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Sync Days</label
	                >
	                <input
	                  type="number"
	                  name="syncDays"
	                  min="0"
	                  value="1"
	                  class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
	                />
	              </div>
	              <div class="mt-1 space-y-2">
	                <label class="block text-sm font-medium leading-6 text-gray-900"
	                  >Projects you're working on</label
	                >
	                <select
	                  name="userProjects"
	                  class="projectMultiSelect p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm"
	                  multiple
	                >
	                  <% for (const project of projects) { %>
	                  <option value="<%= project._id %>">
	                    <%= project.name %>
	                  </option>
	                  <% } %>
	                </select>
	              </div>
	            </div>
	            <button
	              type="submit"
	              class="p-2 mt-3 px-10 text-sm rounded-md text-white bg-blue-500 hover:bg-blue-800"
	            >
	              Sync Specific Data
	            </button>
	          </form>
          <hr />
          <form target="_blank" class="mb-5 mt-5" action="/generate-invoice">
            <div class="text-center text-2xl font-medium mb-2">
              Generate Monthly Invoice
            </div>
            <div class="grid grid-cols-3 gap-2">
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Select User</label
                >
                <select
                  name="userId"
                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
                  <% for (const user of users) { %>
                  <option value="<%= user.rbUserId %>"><%= user.name %></option>
                  <% } %>
                </select>
              </div>
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Select Month</label
                >
                <select
                  name="month"
                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Select Year</label
                >
                <select
                  name="year"
                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
                  <option value="2023" selected>2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                </select>
              </div>
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Hourly Rate</label
                >
                <input
                  type="number"
                  name="hourlyRate"
                  step="any"
                  min="0"
                  value="1"
                  class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Invoice No</label
                >
                <input
                  type="number"
                  name="invoiceNo"
                  min="0"
                  value="1"
                  class="p-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
              </div>
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Generate PDF</label
                >
                <select
                  name="generatePdf"
                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
                  <option value="1" selected>Yes</option>
                  <option value="null">No</option>
                </select>
              </div>
            </div>
            <div class="overrideProjectHourlyRateContainer"></div>
            <div>
              <button
                type="submit"
                class="overrideProjectHourlyRateBtn p-[4px] mt-3 px-3 text-sm rounded-md text-white bg-pink-500 hover:bg-pink-800"
              >
                Override Project Hourly Rate
              </button>
            </div>
            <div class="customItemContainer"></div>
            <div>
              <button
                type="submit"
                class="addCustomItem p-[4px] mt-3 px-3 text-sm rounded-md text-white bg-pink-500 hover:bg-pink-800"
              >
                Add Custom Item
              </button>
            </div>
            <!-- <input type="hidden" name="generatePdf" value="1"> -->
            <button
              type="submit"
              class="p-2 mt-3 px-10 text-sm rounded-md text-white bg-blue-500 hover:bg-blue-800"
            >
              Generate Invoice
            </button>
          </form>
          <hr />
          <form target="_blank" class="mb-5 mt-5" action="/render-data">
            <div class="text-center text-2xl font-medium mb-2">
              Render Loggings Data
            </div>
            <div class="grid grid-cols-4 gap-2">
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Select User</label
                >
                <select
                  name="userId"
                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
                  <% for (const user of users) { %>
                  <option value="<%= user.rbUserId %>"><%= user.name %></option>
                  <% } %>
                  <option value="" selected>All Users</option>
                </select>
              </div>
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Select Month</label
                >
                <select
                  name="month"
                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                  <option value="">All Time</option>
                </select>
              </div>
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Select Year</label
                >
                <select
                  name="year"
                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="">All Time</option>
                </select>
              </div>
              <div class="mt-1 space-y-2">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Invoice Data</label
                >
                <select
                  name="invoice"
                  class="p-2 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                >
                  <option value="1" selected>Yes</option>
                  <option value="">No</option>
                </select>
              </div>
            </div>
            <button
              type="submit"
              class="p-2 mt-3 px-10 text-sm rounded-md text-white bg-blue-500 hover:bg-blue-800"
            >
              Render Data
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
