<script src="https://cdn.tailwindcss.com"></script>

<div class="container mx-auto mt-5 px-20 mb-5">
    <div class="text-5xl text-center">Loggings Data</div>
    <% for (const logging of loggingsData) { %>
        <div class="rounded-xl border-black border-[1px] border-solid text-center mt-10">
            <div class="grid grid-cols-4 p-5">
                <div class="font-semibold">RB User ID</div>
                <div class="font-semibold">Name</div>
                <div class="font-semibold">Email</div>
                <div class="font-semibold">Total Logged Hours</div>
                <div class="text-2xl"><%= logging.rbUserId %></div>
                <div class="text-2xl"><%= logging.name %></div>
                <div class="text-2xl"><%= logging.email %></div>
                <div class="text-2xl font-semibold">
                    <%= logging.totalLoggedHours %>
                </div>
            </div>
            <div class="text-xl">
                Logging Details: 
                <a target="_blank" 
                    href="/generate-invoice?userId=<%= logging.rbUserId %>&year=<%= year %>&month=<%= month %>&hourlyRate=1&invoiceNo=120" 
                    class="ml-4 bg-blue-500 px-4 py-2 rounded-lg font-semibold text-sm text-white">
                    Generate Invoice
                </a>
            </div>
            <div class="grid grid-cols-4 p-5">
                <div class="font-semibold">Project Name</div>
                <div class="font-semibold">Task Name</div>
                <div class="font-semibold">Logging Time</div>
                <div class="font-semibold">Logging Date</div>
                <% for (const singleLogging of logging.loggings) { %>
                    <div class=""><%= singleLogging.rbProjectName %></div>
                    <div class=""><%= singleLogging.rbTaskName %></div>
                    <div class=""><%= singleLogging.loggingTime %></div>
                    <div class=""><%= singleLogging.loggingDate %></div>
                <% } %>
            </div>
        </div>
    <% } %>
</div>
